*{
    padding:0;
    margin:0;
}
li{
    list-style: none;
}
.container{
    width:100%;
}
.header{
    background:#f9f9f9;
    width:100%;
    height:50px;
    /* border-bottom:1px solid #e7e7e7; */
    position:relative;
    padding:10px 0;
    display: flex;
}
.logo{
    width: 30px;
    height: 30px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.header .left{
    margin-left:100px;
}
/* 去掉a标签的样式 */
a{
    text-decoration:none;
    color:#000;
    outline: none;
    margin-left:20px;
}
.header span{
    line-height: 50px;
    margin-left:40px;
    font-weight: bold;
    font-size:20px;
}
.btn{
    border:none;
    outline: none;
    background: none;
    position: absolute;
    right:10%;
    top: 50%;
    transform: translateY(-50%);
}
.btn img{
    width: 40px;
    height:40px;
}
.menu{
    height:30px;   
    width:100%;
    background: #f9f9f9;
    display:none;
}
.menu-txt{
    float:right;
    margin-right:10%;
    font-size:14px;
}
.body{
    width:100%;
    height:200px;
}
.bg{
    background-image: url(./img/bg.jpg);
    background-size: 100% 100%;
    padding:200px 0;
}
.content{
    width:300px;
    height:400px;
    background: #fff;
    opacity: 0.8;
    margin:0 auto;
    position: relative;
}
.content p{
    font-size:60px;
    font-weight:bolder;
    color:#000;
}
.box{
    height:300px;
    width:300px;
    margin-left:40px;
    position: absolute;
    top:50%;
    margin-top:-100px;
}
.box-p{
    width:100%;
    height:30px;
    padding:100px 20px 20px 10px;
    text-align: center;
    font-size:20px;
    font-weight: bold;
}
.cube{
    width:100%;
}
.cube-box{
    width:1000px;
    margin:0 auto;
}
.cube-1,.cube-2,.cube-3,.cube-4{
    width: 170px;
    height: 254px;
    text-align: center;
    padding:50px 40px;
    font-size:15px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
} 
.cube-box li{
    float: left;
}
.cube h3{
    font-size:20px;
}
.cube img{
    width: 50px;
    height: 50px;
    padding:0 0 20px 0;
}
.cube img:hover{
    transform:rotate(360deg);
    transform-origin:50% 50%;
    transition: transform 0.3s linear;
}

.pic{
    width:100%;
    padding:20px 20px 20px 20px;
    /* background: #000; */
}
.pic ul{
    float: left;
    padding-right:10px;
    padding-top:10px;
}
.pic-box{
    width:1000px;
    margin:0 auto;
}
.pic img{
    width:320px;
    height: 240px;
}
.pic-1,.pic-2,.pic-3,.pic-4{
    width:320px;
}
.pic-1-1,.pic-2-1,.pic-3-1,.pic-4-1{
    width:320px;
    height:240px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    display: none;
    pointer-events: none;  
}
.pic-1-1-1,.pic-2-1-1,.pic-3-1-1,.pic-4-1-1{
    width:290px;
    height: 210px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1;
    margin:15px 15px;
    color:#fff;
    display: none;
    pointer-events: none;  
}
.pic-1-1-1 h3{
    float:right;
    margin:100px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pic-2-1-1 h3{
    float:right;
    margin:100px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pic-3-1-1 h3{
    float:right;
    margin:100px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pic-4-1-1 h3{
    float:right;
    margin:100px 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pic-1-1-1 p{
    margin:20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
}
.pic-2-1-1 p{
    margin:20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
}
.pic-3-1-1 p{
    margin:20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
}
.pic-4-1-1 p{
    margin:20px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:20px;
}
@media screen and (max-width:960px){
    .cube{
        width:100%;
    }
    .cube-box{
        width:75%;
        margin:0 auto;
    }
    .cube li{
        width:37.5%;
    }
    .pic{
        width: 100%;
    }
    .pic-box{
        width:90%;
    }
    .pic-box ul{
        width:40%;
        padding-left:4%;
    }
}
@media screen and (max-width:869px){
    .cube{
        width:100%;
    }
    .cube-box{
        width:70%;
        margin:0 auto;
    }
    .cube li{
        width:35%;
    }
}
/* @media screen and (max-width:778px){
    .cube{
        width:100%;
    }
    .cube-box{
        width:70%;
        margin:0 auto;
    }
    .cube li{
        width:35%;
    }
    .pic{
        width: 100%;
        margin:0;
        padding:0;
    }
    .pic-box{
        width:100%;
        margin:0;
    }
    .pic ul{
        width:100%;
        height:100%;
        padding:0;
    }
    .pic img{
        width:100%;
        height:100%;
    }
    .pic-1-1,.pic-2-1,.pic-3-1,.pic-4-1{
        width:100%;
        height:100%;
    }
    .pic-1-1-1,.pic-2-1-1,.pic-3-1-1,.pic-4-1-1{
        width:100%;
        height:100%;
    }
} */
@media screen and (max-width:778px){
    .cube{
        width:100%;
    }
    .cube-box{
        width: 90%;
        margin:0 auto;
    }
    .cube-box li{
        width:90%;
    }
    .pic{
        width: 100%;
        margin:0;
        padding:0;
    }
    .pic-box{
        width:100%;
        margin:0;
    }
    .pic ul{
        width:100%;
        height:100%;
        padding:0;
    }
    .pic img{
        width:100%;
        height:100%;
    }
    .pic-1-1,.pic-2-1,.pic-3-1,.pic-4-1{
        width:100%;
        height:85%;
    }
    .pic-1-1-1,.pic-2-1-1,.pic-3-1-1,.pic-4-1-1{
        width:80%;
        height:80%;
    }
}